@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666


body
	font-size: 18px
	font-weight: 300
	min-width: 320px
	position: relative
	line-height: 1.5555
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #333333

.img-responsive
	display: block
	max-width: 100%
	height: auto
.h
	// font-family: $title-font
	font-weight: 300



.header
	position: relative
	height: 100vh
	background-image: url('../img/3.jpg')
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	&:before
		position: absolute
		content: ''
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba($accent, .25)
	.header-block
		position: absolute
		background-color: rgba($accent, .95)
		width: 50%
		color: #ffffff
		bottom: 0
		right: 0
		// top: 50%
		// transform: translateY(-50%)
		text-align: center
		padding: 50px 25px
		.header-title
			color: #ffffff
	.menu
		position: relative
		// background-color: rgba(0,0,0, .25)
		background-color: rgba(255,255,255, .25)
	.logo
		width: 150px
	.uk-navbar-nav > li > a
		font-size: 16px
		font-weight: 400
		color: #333333
	.uk-navbar-nav > li:hover > a
		color: $accent


.h-title
	text-align: center
	font-size: 3em
	margin-bottom: 50px
.section
	position: relative
	padding: 100px 0
	p
		font-size: 20px
		text-align: justify
		// text-align: center


#fanketa
	.uk-form-label
		font-size: 20px
		color: $accent
		// font-weight: 400
	.uk-form-controls
		padding-left: 25px
		padding-top: 15px
	label		
		margin-right: 25px
	.uk-checkbox:checked,
	.uk-checkbox:indeterminate,
	.uk-radio:checked
		background-color: $accent
	.uk-radio
		margin-right: 5px
		border-radius: 0
	.next-block
		display: inline-block
		padding: 10px 25px		
		background-color: #f3f3f3
		transition: color .25s ease-in-out, background-color .3s ease-in-out
		&.active
			cursor: pointer
			background-color: $accent
			color: #ffffff

	.block-b,
	.block-c
		display: none

.section-anketa
	background-color: #f8f8f8
	background-color: $accent
.anketa-box
	background-color: #fff
	padding: 75px
		




.block
	margin-bottom: 50px
.answer
	display: flex
	justify-content: center
	margin-top: 20px
	.a
		cursor: pointer
		padding: 10px 25px
		margin: 0 10px
		background-color: #f8f8f8
		transition: color .325s ease-in-out, background-color .325s ease-in-out
		&.active
			background-color: #9b59b6
			color: #ffffff

@import "media" // Всегда в конце
